{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col">
    <form method="POST" action="{{url_for('result_list')}}">
      <div class="form-row">
        <div class="col-12 mt-3">
        <input type="text" class="form-control" name="song_name" placeholder="Song name">
        </div>
      <div class="col-12 mt-3 pt-3">
        <button type="submit" class="btn btn-primary">Submit
        </button>
      </div>
      </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
